{% extends "blog/base.html" %}
{% block title %}Мой блог{% endblock %}
{% block content %}
<h1>Мой Блог</h1>
    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
{% for post in posts %}
    <div class="blog-post">
    <h2 class="blog-post-title">
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </h2>
    <p class="tags">
        Tags:
        {% for tag in post.tags.all %}
            <a href="{% url "blog:post_list_by_tag" tag.slug %}">
            {{ tag.name }}
            </a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    </div>
<p class="date">Published {{ post.publish }} by <a href="{{ post.author }}">{{ post.author }}</a></p>
{{ post.body|truncatewords:30|linebreaks }}
{% endfor %}
    {% include "blog/pagination.html" with page=posts %}
{% endblock %}