{% extends "blog/base.html" %}
{% block title %}отправить другому{% endblock %}
{% block content %}
    {% if sent %}
        <h1>Письмо отправлено</h1>
        <p>"{{ post.title }}" успешно отправлено для {{ form.cleaned_data.to }}.</p>
    {% else %}
        <h1>Share "{{ post.title }}" by email</h1>
        <form action="." method="post">
            {% csrf_token %}
            {{ field.errors }}
            {{ form.as_p }}
            <input type="submit" value="Send e-mail">
        </form>
    {% endif %}
{% endblock %}